{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'djdt_redis/css/panel.css' %}" type="text/css">

<div id="djdtRedis">
    <h4>{% trans "Calls" %}</h4>

    <table>
        <thead>
            <tr>
                {% if enable_stacktraces %}
                <th></th>
                {% endif %}
                <th>{% trans "Command" %}</th>
                <th>{% trans "Arguments" %}</th>
                <th>{% trans "Argument Size (bytes)" %}</th>
                <th>{% trans "Result Size (bytes)" %}</th>
                <th>{% trans "Duration (ms)" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for call in calls %}
            <tr class="{% cycle 'djDebugOdd' 'djDebugEven' as row_class %}" id="redisCall_{{ forloop.counter }}">
                {% if enable_stacktraces or call.is_pipeline %}
                <td class="djdt-toggle">
                    <button type="button"  class="djToggleSwitch" data-toggle-name="redisCall" data-toggle-id="{{ forloop.counter }}">+</button>
                </td>
                {% else %}
                <td></td>
                {% endif %}
                {% if not call.is_pipeline %}
                <td>{{ call.ops.0.command }}</td>
                <td>{{ call.ops.0.args_str }}</td>
                <td>{{ call.ops.0.args_size }}</td>
                {% if not call.exception %}
                <td>{{ call.ops.0.result_size }}</td>
                {% else %}
                <td>{{ call.exception }}</td>
                {% endif %}
                {% else %}
                <td class="djdtRedisPipeline">Pipeline</td>
                <td class="djdtRedisPipeline">{% blocktrans count call_count=call.ops|length %}1 Call{% plural %}{{ call_count }} Calls{% endblocktrans %}</td>
                <td>{{ call.args_size }}</td>
                {% if not call.exception %}
                <td>{{ call.results_size }}</td>
                {% else %}
                <td>{{ call.exception }}</td>
                {% endif %}
                {% endif %}
                <td>{{ call.duration|floatformat:3 }}</td>
            </tr>
            {% if call.is_pipeline %}
            {% for op in call.ops %}
            {% if row_class == "djDebugOdd" %}
            <tr class="djUnselected {% cycle 'djDebugEven' 'djDebugOdd' %} djToggleDetails_{{ forloop.parentloop.counter }}">
            {% else %}
            <tr class="djUnselected {% cycle 'djDebugOdd' 'djDebugEven' %} djToggleDetails_{{ forloop.parentloop.counter }}">
            {% endif %}
                <td class="{{ row_class }}"></td>
                <td>{{ op.command }}</td>
                <td>{{ op.args_str }}</td>
                <td>{{ op.args_size }}</td>
                {% if not call.exception %}
                <td>{{ op.result_size }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td></td>
            <tr>
            {% endfor %}
            {% resetcycle %}
            {% endif %}
            {% if enable_stacktraces %}
            <tr class="djUnselected {{ row_class }} djToggleDetails_{{ forloop.counter }}">
                <td></td>
                <td colspan="5">
                    <pre class="djdt-stack">{{ call.stacktrace.render }}</pre>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
